.page-loading-content {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 199;
    background: var(--box-bg-90) !important;
    display: flex;
    align-items: center;
    justify-content: center;

    .loading-box {
        width: 80px;
        height: auto;
    }
}
